@keyframes tableButtonHover {
    0%{background: rgb(255, 255, 255);}
    100%{background: goldenrod;}
}

@keyframes addButtonHover {
    0%{background: rgb(255, 255, 255); box-shadow: none; color: black;}
    100%{background: green; box-shadow: 1px 1px 10px 5px darkgreen; color: white;}
}

@keyframes updateButtonHover {
    0%{background: rgb(255, 255, 255); box-shadow: none; color: black;}
    100%{background: rebeccapurple; box-shadow: 1px 1px 10px 5px purple; color: white;}
}

@keyframes deleteButtonHover {
    0%{background: rgb(255, 255, 255); box-shadow: none; color: black;}
    100%{background: red; box-shadow: 1px 1px 10px 5px maroon; color: white;}
}

@keyframes resetButtonHover {
    0%{background: rgb(255, 255, 255); box-shadow: none; color: black;}
    100%{background: red; box-shadow: 1px 1px 10px 5px purple; color: white;}
}


.administration-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1% 0%;
}

.admin-tables-options{
    padding: 1% 0%;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.admin-tables-options button{
    width: 10%;
    margin: 1% 3%;
    padding: 0.5%;
    border-radius: 100px;
    border: solid 2px goldenrod;
}

.admin-tables-options button:hover{
    animation: tableButtonHover 1.5s;
    background: goldenrod;
    font-weight: bold;
}

.admin-table{
    padding-top: 2%;
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.allergens-table th{width: 25%;}
.allergies-table th{width: 15%;}
.categories-table th{width: 20%;}
.jobs-table th{width: 16%;}
.employees-table th{width: 8%;}
.customers-table th{width: 10%;}

th{
    font-weight: bold;
    padding: 1%;
    border: solid goldenrod;
    width: 0%;
}

tr{
    border: solid goldenrod;
    width: 100%;
    position: relative;
}

td{
    border: solid rebeccapurple;
    vertical-align: middle;
    padding: 1%;
}


.current-add{
    background: rgb(255, 255, 255);    
    border: solid green;
    cursor: pointer;
    position: relative;
    border-radius: 20px;
    padding: 0.5%;
    margin-bottom: 1%;
    overflow: hidden;
}

.current-add:hover{
    animation: addButtonHover 1s;
    background: green;
    font-weight: bold;
    color: white;
    box-shadow: 1px 1px 10px 5px darkgreen;
}


.current-update{
    background: rgb(255, 255, 255);    
    border: solid rebeccapurple;
    cursor: pointer;
    position: absolute;
    left: 90%;
    border-radius: 20px;
    padding: 0.5%;
    margin-top: 1%;
    overflow: hidden;
}

.current-update:hover{
    animation: updateButtonHover 1s;
    background: rebeccapurple;
    font-weight: bold;
    color: white;
    box-shadow: 1px 1px 10px 5px purple;
}


.current-delete{
    background: rgb(255, 255, 255);    
    border: solid red;
    cursor: pointer;
    position: absolute;
    left: 4%;
    border-radius: 20px;
    padding: 0.5%;
    margin-top: 1%;
    overflow: hidden;
}

.current-delete:hover{
    animation: deleteButtonHover 1s;
    background: rgb(255, 0, 0);
    font-weight: bold;
    color: white;
    box-shadow: 1px 1px 10px 5px maroon;
}


.current-reset{
    background: rgb(255, 255, 255);    
    border: solid red;
    cursor: pointer;
    border-radius: 20px;
    padding: 0.5%;
    margin-bottom: 1%;
    overflow: hidden;
}

.current-reset:hover{
    animation: resetButtonHover 1s;
    background: red;
    font-weight: bold;
    color: white;
    box-shadow: 1px 1px 10px 5px purple;
}


.current-add-div{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 45%;
    transform: translateY(-50%);
    width: 30%;
    height: 300px;
    font-size: large;
    background: rgb(255, 255, 255);
    box-shadow: 1px 1px 15px 15px darkgreen;
    border-radius: 20px;
    z-index: 10;
}
.current-add-div .options{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.current-add-div button{width: 30%;}

.current-update-div{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 45%;
    transform: translateY(-50%);
    width: 30%;
    height: 300px;
    font-size: large;
    background: rgb(255, 255, 255);
    box-shadow: 1px 1px 15px 15px purple;
    border-radius: 20px;
    z-index: 10;
}
.current-update-div .options{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.current-update-div button{width: 30%;}

.current-delete-div, .current-reset-div{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 45%;
    transform: translateY(-50%);
    width: 30%;
    height: 210px;
    font-size: x-large;
    background: rgb(255, 255, 255);
    box-shadow: 1px 1px 15px 15px maroon;
    border-radius: 20px;
    z-index: 10;
}
.current-delete-div h2, .current-reset-div h2{font-size: xx-large; padding: 0% 0% 4% 0%;}
.current-delete-div .options, .current-reset-div .options{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 5% 0% 0% 0%;
}
.current-delete-div button, .current-reset-div button{width: 30%; font-size: inherit; border-radius: 20px;}
.current-delete-div-cancel, .current-reset-div-cancel{
    border: solid green;
}
.current-delete-div-cancel:hover, .current-reset-div-cancel:hover{
    animation: addButtonHover 1.5s;
    background: green;
    font-weight: bold;
    color: white;
    box-shadow: 1px 1px 10px 5px darkgreen;
}
.current-delete-div-accept, .current-reset-div-accept{
    border: solid red;
}
.current-delete-div-accept:hover, .current-reset-div-accept:hover{
    animation: deleteButtonHover 1.5s;
    background: red;
    font-weight: bold;
    color: white;
    box-shadow: 1px 1px 10px 5px maroon;
}
.current-add-div-close, .current-update-div-close{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 4%;
    right: 3%;
    cursor: pointer;
}

h2{
    font-size: xx-large;
}
.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    font-size: x-large;
}
.form input{
    width: 60%;
    font-size: large;
}
.input-row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3% 0%;
    width: 100%;
}
.current-add-div-accept{
    font-size: large;
    border: solid green;
    border-radius: 20px;
    padding: 0.5%;
    margin-top: 2%;
}
.current-add-div-accept:hover{
    animation: addButtonHover 1.5s;
    font-size: large;
    background: green;
    font-weight: bold;
    color: white;
    box-shadow: 1px 1px 10px 5px darkgreen;
}
.current-update-div-accept{
    font-size: large;
    border: solid rebeccapurple;
    border-radius: 20px;
    padding: 0.5%;
    margin-top: 2%;
}
.current-update-div-accept:hover{
    animation: updateButtonHover 1.5s;
    font-size: large;
    background: rebeccapurple;
    font-weight: bold;
    color: white;
    box-shadow: 1px 1px 10px 5px purple;
}