@keyframes menuSlide {
    0%{height: 0%;}
    100%{height: 70%;}
}

@keyframes menuBodySlide {
    0%,10%{scale: 0;}
    100%{scale: 1;}
}

@keyframes menuClose {
    0%{scale: 1;}
    100%{scale: 0;}
}


a{text-decoration: none; color: inherit;}
img{width: 100%;}
button{border: none; cursor: pointer; background: inherit; width: 100%;}

.body{background: white;}


.header{
    width: 100%;
    background: black;
    color: white;
    display: grid;
    grid-template-areas: 
    ". logo-header . menu-icon . make-order book user";
    grid-template-columns: 2% 3% 5% 10% 52% 12% 10% 5%;
    align-items: center;
    overflow: hidden;
}

.header .logo{
    grid-area: logo-header;
    width: 80px;
    padding-right: 5%;
}

.menu{
    grid-area: menu-icon;
    filter: invert(100%);
    width: 70px;
}

.make-order{grid-area: make-order;}
.make-order button{
    border-radius: 100px;
    width: 70%;
    padding: 5% 5%;
    color: inherit;
    background: rgb(0,0,0);
    border: solid 3px white;
    font-weight: bold;
}
.make-order button:hover{
    background: rgb(255,255,255);
    color: black;
}

.book{grid-area: book;}
.book button{
    border-radius: 100px;
    width: 50%;
    padding: 6% 0%;
    color: inherit;
    background: rgb(150, 0, 250);
    border: solid 3px white;
    font-weight: bold;
}
.book button:hover{
    background: rgb(218, 130, 50);
}

.user{grid-area: user; width: 50%;}
.user img{
    filter: invert(100%);
}


.main{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.menu-div{
    width: 100%;
    height: 70%;
    display: none;
    z-index: 1;
    position: fixed;
    background: rgb(200, 50, 50);
    top: 0;
}
.close-menu{width: 7%;}
.menu-body{
    visibility: visible; 
    position: relative; 
    top: 3%; 
    left: 1%; 
    height: 95%; 
    width: 95%; 
    display: flex;
}

.sided-text{
    transform: rotate(270deg); 
    font-size: 50px; 
    position: absolute; 
    right: 80%; 
    top: 48%; 
    width: 35%; 
    color: whitesmoke;
}
.menu-body .categories{
    padding-top: 10.5%; 
    padding-left: 2%; 
    width: 74%;
}
.menu-body .categories p, .other-categories p{
    padding: 1% 0%; 
    width: 100%; 
    font-size: 60px; 
    font-weight: 1000;
}
.other-categories{
    width: 50%; 
    padding-top: 20%; 
    padding-left: 10%;
}
.menu-logo{
    width: 20%;
    position: relative;
    left: 38%;
}
.categories p:hover, .other-categories p:hover{color: rgb(218, 175, 32);}


.footer{
    width: 100%;
    background: black;
    color: white;
    display: grid;
    grid-template-areas: ". copyright socials";
    grid-template-columns: 15% 60% 25%;
    align-items: center;
    font-size: large;
    overflow: hidden;
}

.copyright{
    grid-area: copyright;
    width: 70%;
}

.socials{
    grid-area: socials;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5% 0%;
}
.socials-icons{
    display: flex;
    width: 100%;
}
.instagram{
    filter: invert(100%);
    width: 30px;
    padding-right: 15%;
}
.linkedin{
    filter: invert(100%);
    width: 30px;
}
.contactus{
    padding-right: 70%;
    padding-top: 2%;
}

@media (width<1330px) {
    .footer{
        grid-template-columns: 10% 65% 25%;
        font-size: medium;
    }
}

@media (width<1130px) {
    
    @keyframes menuSlide {
        0%{height: 0%;}
        100%{height: 60%;}
    }


    .header{
        grid-template-columns: 2% 5% 5% 10% 40% 18% 12% 8%;
    }
    .make-order button{
        width: 80%;
        padding: 5% 5%;
    }
    .book button{
        width: 70%;
        padding: 6% 0%;
    }
    .footer{
        grid-template-columns: 10% 65% 25%;
        font-size: small;
    }

    .menu-body .categories{
        padding-top: 10%; 
        padding-left: 5%; 
        width: 100%;
    }
    .menu-body .categories p, .other-categories p{
        padding: 1% 0%; 
        width: 100%; 
        font-size: 50px;
        font-weight: 1000;
    }
    .other-categories{
        width: 80%; 
        padding-top: 20%; 
        padding-left: 10%;
    }
    .menu-logo{
        width: 30%;
        position: relative;
        left: 35%;
    }
    .menu-div{
        height: 60%;
    }
    .close-menu{width: 15%;}
}

@media (width<900px) {
    
    @keyframes menuSlide {
        0%{height: 0%;}
        100%{height: 50%;}
    }


    .header{
        grid-template-columns: 2% 10% 5% 10% 34% 18% 12% 8%;
    }
    .make-order button{
        width: 80%;
        padding: 5% 5%;
    }
    .book button{
        width: 70%;
        padding: 6% 0%;
    }
    .instagram{
        filter: invert(100%);
        width: 20px;
        padding-right: 15%;
    }
    .linkedin{
        filter: invert(100%);
        width: 20px;
    }
    .contactus{
        padding-right: 60%;
        padding-top: 2%;
    }

    .menu-body .categories{
        padding-top: 10%; 
        padding-left: 5%; 
        width: 100%;
    }
    .menu-body .categories p, .other-categories p{
        padding: 1% 2%; 
        width: 100%; 
        font-size: 35px; 
        font-weight: 1000;
    }
    .other-categories{
        width: 100%; 
        padding-top: 20%; 
        padding-left: 5%;
    }
    .menu-logo{
        width: 30%;
        position: relative;
        top: 3%;
        left: 34%;
    }
    .menu-div{
        height: 50%;
    }
    .close-menu{width: 15%;}
    .sided-text{
        font-size: 30px; 
        right: 80%; 
        top: 28%; 
        width: 35%; 
    }
}

@media (width<680px) {

    @keyframes menuSlide {
        0%{height: 0%;}
        100%{height: 30%;}
    }


    .header{
        grid-template-columns: 5% 10% 5% 10% 23% 20% 15% 10%;
    }
    .make-order button{
        width: 70%;
        padding: 5% 5%;
        font-size: x-small;
    }
    .book button{
        width: 60%;
        padding: 10% 0%;
        font-size: x-small;
    }
    .header .logo{
        grid-area: logo-header;
        width: 50px;
        padding-right: 5%;
    }
    .menu{
        grid-area: menu-icon;
        filter: invert(100%);
        width: 50px;
    }
    .footer{grid-template-columns: 5% 70% 25%;}
    .copyright{width: 80%;}

    .menu-body .categories p, .other-categories p{
        padding: 1% 2%; 
        width: 100%; 
        font-size: 25px; 
        font-weight: 1000;
    }
    .menu-div{height: 30%;}
    .close-menu{width: 20%;}
    .sided-text{
        font-size: 20px; 
        right: 80%; 
        top: 35%; 
        width: 35%; 
    }
}

@media (width<500px) {

    @keyframes menuSlide {
        0%{height: 0%;}
        100%{height: 30%;}
    }


    .header{
        grid-template-columns: 5% 12% 5% 10% 20% 20% 15% 13%;
    }
    .make-order button{
        width: 80%;
        padding: 10% 10%;
        font-size: 8px;
    }
    .book button{
        width: 70%;
        padding: 10% 0%;
        font-size: 8px;
    }
    .header .logo{
        grid-area: logo-header;
        width: 40px;
        padding-right: 5%;
    }
    
    .menu{
        grid-area: menu-icon;
        filter: invert(100%);
        width: 40px;
    }
    .footer{font-size: x-small;}
    .instagram{
        filter: invert(100%);
        width: 15px;
        padding-right: 15%;
    }
    .linkedin{
        filter: invert(100%);
        width: 15px;
    }
    .contactus{
        padding-right: 50%;
        padding-top: 2%;
    }

    .menu-body .categories p, .other-categories p{font-size: 20px; }
    .menu-div{height: 30%;}
    .sided-text{font-size: 18px;}
    .menu-logo{
        width: 30%;
        left: 30%;
        top: 5%;
    }
    .menu-body .categories{
        padding-top: 10.5%; 
        padding-left: 2%; 
        width: 100%;
    }
    .other-categories{
        width: 100%; 
        padding-top: 20%; 
        padding-left: 0%;
    }
}