@keyframes menuSlide {
    0%{height: 0%;}
    100%{height: 70%;}
}

@keyframes menuBodySlide {
    0%,10%{scale: 0;}
    100%{scale: 1;}
}

@keyframes menuClose {
    0%{transform: translateY(0) translateZ(0);}
    100%{transform: translateY(-800px) translateZ(-800px);}
}


/* h6 tags are reserved for sign-in,sign-up and sign-out */
h6{font-size: 30px; padding-bottom: 5%;}

a{text-decoration: none; color: inherit;}
img{width: 100%;}
button{border: none; cursor: pointer; background: inherit; width: 100%; color: inherit;}
::placeholder{font-style: italic;}
form{display: flex; flex-direction: column; align-items: center;}
input{border: none; border-bottom: solid 1px; outline: 0;}

.body{background: white;}


.header{
    width: 100%;
    background: black;
    color: white;
    display: grid;
    grid-template-areas: 
    ". logo-header . menu-icon . make-order book user";
    grid-template-columns: 2% 3% 5% 10% 52% 12% 10% 5%;
    align-items: center;
    overflow: hidden;
}

.header .logo{
    grid-area: logo-header;
    width: 80px;
    padding-right: 5%;
}

.menu{
    grid-area: menu-icon;
    filter: invert(100%);
    width: 70px;
}

.make-order{grid-area: make-order;}
.make-order button{
    border-radius: 100px;
    width: 70%;
    padding: 5% 5%;
    color: inherit;
    background: rgb(0,0,0);
    border: solid 3px white;
    font-weight: bold;
}
.make-order button:hover{
    background: rgb(255,255,255);
    color: black;
}

.book{grid-area: book;}
.book button{
    border-radius: 100px;
    width: 50%;
    padding: 6% 0%;
    color: inherit;
    background: rgb(150, 0, 250);
    border: solid 3px white;
    font-weight: bold;
    cursor: pointer;
}
.book button:hover{
    background: rgb(218, 130, 50);
}

.user{grid-area: user; width: 60%; cursor: pointer;}
.user img{
    filter: invert(100%);
}
.user a{display: none;}

.user-options{
    position: absolute;
    right: 2%;
    top: 78px;
    display: flex;
    flex-direction: column;
    z-index: 1;
}
.user-options button{
    background: white;
    color: black;
    border: solid grey;
    padding: 5%;
    width: 100px;
    height: 30px;
    display: none;
}
.user-options button:hover{
    background: grey;
    font-weight: bold;
}
.user-options-logged{
    position: absolute;
    right: 1.5%;
    top: 0;
}


.login-div{
    background: white;
    display: none;
    flex-direction: column;
    text-align: center;
    align-items: center;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    width: 30%;
    box-shadow: 2px 2px 2px 3px grey;
    z-index: 999;
    height: auto;
    padding: 2%;
}
.login-div h6{padding-bottom: 2%;}
.login-div form{width: 80%; position: relative;}
.login-div label{
    font-size: x-large; 
    width: 50%; 
    padding-top: 5%;
    padding-bottom: 3%;
}
.login-div input{
    font-size: large; 
    width: 50%;
}
.login-div .options{
    display: flex; 
    flex-direction: column; 
    align-items: center;
    width: 80%;
    padding-top: 2%;
}
.password-reset-text{
    padding-top: 3%;
    font-size: 16px;
}
#password-reset{
    color: blue; 
    font-weight: bold; 
    cursor: pointer;
}
.login-div .options button, .login-div .options input{
    background: rgb(255,255,255);
    font-size: 20px; 
    padding: 2%; 
    width: 50%;
    cursor: pointer;
}
#login-accept{border: solid goldenrod;}
#login-accept:hover{
    background: goldenrod; 
    font-weight: bold;
}
.login-div .options p{
    font-size: large; 
    padding-top: 3%; 
    padding-bottom: 2%; 
    font-weight: 600; 
    font-size: 17px;
}
#login-signup{border: solid grey;}
#login-signup:hover{background: grey; font-weight: bold;}
#login-cancel{
    width: 30px; 
    position: absolute; 
    top: 17px; 
    right: 18px; 
    cursor: pointer;
}

.signup-div{
    background: white;
    display: none;
    flex-direction: column;
    text-align: center;
    align-items: center;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 2px 2px 2px 3px grey;
    z-index: 999;
    height: auto;
    padding: 2%;
}
.signup-div h6{padding-bottom: 2%;}
.signup-div .form{
    padding: 3% 0%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.signup-div .form .signup-row{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 3% 0%;
}
.signup-div .form .signup-row .signup-field{
    width: 100%;
    padding: 3% 0%;
    position: relative;
}
.signup-div label{font-size: x-large; }
.signup-div input{
    font-size: large; 
    width: 80%;
    padding-top: 5%;
}
.signup-div .options{
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    width: 80%;
}
.password-reset-text{
    padding-top: 3%; 
    font-size: 16px;
}
#password-reset{
    color: blue; 
    font-weight: bold; 
    cursor: pointer;
}
.signup-div .options button, .signup-div .options input{
    background: rgb(255,255,255);
    font-size: 20px; 
    padding: 2%; 
    width: 50%;
    cursor: pointer;
}
#signup-accept{border: solid goldenrod;}
#signup-accept:hover{
    background: goldenrod; 
    font-weight: bold;
}
.signup-div .options p{
    font-size: large; 
    padding-top: 3%; 
    padding-bottom: 2%; 
    font-weight: 600; 
    font-size: 17px;
}
#signup-login{border: solid grey;}
#signup-login:hover{
    background: grey; 
    font-weight: bold;
}
#signup-cancel{
    width: 30px; 
    position: absolute; 
    top: 17px; 
    right: 20px; 
    cursor: pointer;
}

.login-div .hide-view{
    width: 20px;
    position: absolute;
    right: 25%;
    bottom: 51%;
}
.signup-div .hide-view{
    width: 20px;
    position: absolute;
    left: 84.5%;
    bottom: 10px;
}
.view{display: none;}


.logout-div{
    background: white;
    display: none;
    flex-direction: column;
    text-align: center;
    align-items: center;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 2px 2px 2px 3px grey;
    z-index: 999;
    height: auto;
    padding: 2%;
}
.logout-div p{
    font-size: 20px; 
    padding: 2%;
}
.logout-div div{
    display: flex; 
    width: 80%; 
    padding-top: 5%; 
    justify-content: space-around;
}
.logout-div div button{
    font-size: 20px; 
    padding: 2%; 
    width: 30%;
}
#logout-accept{border: solid red;}
#logout-accept:hover{
    background: red; 
    font-weight: bold;
}
#logout-cancel{border: solid grey;}
#logout-cancel:hover{
    background: grey; 
    font-weight: bold;
}

.login-required-div{
    background: rgb(255,255,255);
    display: none;
    flex-direction: column;
    text-align: center;
    align-items: center;
    position: fixed;
    top: 40%;
    transform: translateY(-50%);
    box-shadow: 2px 2px 2px 3px grey;
    z-index: 999;
    height: auto;
    padding: 2%;
    font-size: large;
}
.login-required-div div{
    display: flex;
    width: 80%;
    padding-top: 5%;
    justify-content: space-around;
}
.login-required-div div button{
    font-size: 20px;
    padding: 2%;
    width: 30%;
}
#login-required-signup, #login-required-login{border: solid goldenrod;}
#login-required-signup:hover, #login-required-login:hover{
    background: goldenrod;
    font-weight: bold;
}
#login-required-cancel{border: solid grey;}
#login-required-cancel:hover{
    background: grey;
    font-weight: bold;
}

.book-div{
    display: none;
    top: 50%;
    transform: translateY(-50%);
    background: rgb(255,255,255);
    padding: 1%;
    box-shadow: 2px 2px 3px 2px grey;
    width: 30%;
    position: fixed;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
#book-restaurant-address{
    width: 80%;
}
.book-div h6{padding-bottom: 7%;}
.book-info{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 7%;
    padding-bottom: 2%;
}
.book-div select{
    padding: 1%;
    border-radius: 5px;
}
#book-date, #book-hour{width: 20%;}
#book-hour{margin: 0% 10%;}
.book-close{
    width: 20px;
    position: absolute;
    top: 7%;
    right: 3%;
    cursor: pointer;
}
#book-accept{
    width: 35%;
    padding-top: 3%;
}
#book-accept button{
    font-size: medium;
    border: solid 2px goldenrod;
    border-radius: 100px;
    padding: 3%;
}
#book-accept button:hover{
    background: goldenrod;
    font-weight: bold;
}



.main{
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu-div{
    width: 100%;
    height: 70%;
    display: none;
    z-index: 1;
    position: fixed;
    background: rgb(200, 50, 50);
    top: 0;
}
.close-menu{width: 7%; z-index: 1;}
.menu-body{
    visibility: visible; 
    position: relative; 
    top: 3%; 
    left: 1%; 
    height: 95%; 
    width: 95%; 
    display: flex;
}

.sided-text{
    transform: rotate(270deg); 
    font-size: 50px; 
    position: absolute; 
    right: 80%; 
    top: 25%; 
    width: 35%; 
    color: whitesmoke;
}
.menu-body .categories{
    padding-top: 10.5%; 
    padding-left: 2%; 
    width: 74%;
}
.menu-body .categories p, .other-categories p{
    padding: 1% 0%; 
    font-size: 60px; 
    font-weight: 1000;
    display: table;
    cursor: pointer;
}
.other-categories{
    width: 50%; 
    padding-top: 20%; 
}
.menu-logo{
    width: 20%;
    position: relative;
    left: 32%;
    height: 40%;
}
.categories p:hover, .other-categories p:hover{color: rgb(218, 175, 32);}


.footer{
    width: 100%;
    background: black;
    color: white;
    display: grid;
    grid-template-areas: ". copyright socials";
    grid-template-columns: 15% 60% 25%;
    align-items: center;
    font-size: large;
    overflow: hidden;
}

.copyright{
    grid-area: copyright;
    width: 70%;
}

.socials{
    grid-area: socials;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5% 0%;
}
.socials-icons{
    display: flex;
    width: 100%;
}
.instagram{
    filter: invert(100%);
    width: 30px;
    padding-right: 15%;
}
.linkedin{
    filter: invert(100%);
    width: 30px;
}
.contactus{
    padding-right: 70%;
    padding-top: 5%;
}


@media (width<1800px) {
    .user-options{
        right: 1.8%;
        top: 74px;
    }
}

@media (width<1600px) {
    .sided-text{
        right: 80%; 
        top: 35%; 
        width: 35%; 
    }
    .user-options{
        right: 2.2%;
        top: 72px;
    }
    .user-options button{
        padding: 5%;
        width: 70px;
        height: 27px;
    }
    #book-accept{width: 45%;}
}

@media (width<1330px) {
    .footer{
        grid-template-columns: 10% 65% 25%;
        font-size: medium;
    }
    .user-options{
        right: 1.5%;
        top: 69px;
    }
    .user-options button{
        padding: 5%;
        width: 70px;
        height: 25px;
        font-size: 12px;
    }
    .book-div{width: 40%;}
    .book-div{width: 50%;}
    #book-accept{width: 35%;}
}

@media (width<1130px) {
    
    @keyframes menuSlide {
        0%{height: 0%;}
        100%{height: 60%;}
    }


    .header{
        grid-template-columns: 2% 5% 5% 10% 40% 18% 12% 8%;
    }
    .make-order button{
        width: 80%;
        padding: 5% 5%;
    }
    .book button{
        width: 70%;
        padding: 6% 0%;
    }
    .footer{
        grid-template-columns: 10% 65% 25%;
        font-size: small;
    }

    .menu-body .categories{
        padding-top: 10%; 
        padding-left: 5%; 
        width: 100%;
    }
    .menu-body .categories p, .other-categories p{
        padding: 1% 0%; 
        width: 100%; 
        font-size: 50px;
        font-weight: 1000;
    }
    .other-categories{
        width: 80%; 
        padding-top: 20%; 
        padding-left: 10%;
    }
    .menu-logo{
        width: 30%;
        position: relative;
        left: 35%;
    }
    .menu-div{
        height: 60%;
    }
    .close-menu{width: 15%;}
    .sided-text{
        right: 80%; 
        top: 40%; 
        width: 35%; 
    }
    .user-options{
        right: 2.8%;
        top: 76px;
    }
    .login-div{width: 40%;}
    .book-div{width: 60%;}
}

@media(width<1000px){
    .user-options{
        right: 2.3%;
        top: 72px;
    }
}

@media (width<900px) {
    
    @keyframes menuSlide {
        0%{height: 0%;}
        100%{height: 50%;}
    }


    .header{
        grid-template-columns: 2% 10% 5% 10% 34% 18% 12% 8%;
    }
    .make-order button{
        width: 80%;
        padding: 5% 5%;
    }
    .book button{
        width: 70%;
        padding: 6% 0%;
    }
    .instagram{
        filter: invert(100%);
        width: 20px;
        padding-right: 15%;
    }
    .linkedin{
        filter: invert(100%);
        width: 20px;
    }
    .contactus{
        padding-right: 60%;
    }

    .menu-body .categories{
        padding-top: 10%; 
        padding-left: 5%; 
        width: 100%;
    }
    .menu-body .categories p, .other-categories p{
        padding: 1% 2%; 
        width: 100%; 
        font-size: 35px; 
        font-weight: 1000;
    }
    .other-categories{
        width: 100%; 
        padding-top: 20%; 
        padding-left: 5%;
    }
    .menu-logo{
        width: 30%;
        position: relative;
        top: 3%;
        left: 34%;
    }
    .menu-div{
        height: 50%;
    }
    .close-menu{width: 15%;}
    .sided-text{
        font-size: 30px; 
        right: 80%; 
        top: 28%; 
        width: 35%; 
    }
    .user-options{
        right: 3.5%;
        top: 70px;
    }
    .user-options button{
        width: 60px;
        height: 25px;
        font-size: 11px;
    }
    .logout-div p{padding: 3%;}
    .logout-div div{padding-top: 8%;}
    .login-div{width: 50%;}
    .signup-div{width: 80%;}
    .book-div{width: 70%;}
}

@media (width<800px) {
    .user-options{
        right: 2.5%;
        top: 68px;
    }
}

@media (width<680px) {

    @keyframes menuSlide {
        0%{height: 0%;}
        100%{height: 30%;}
    }


    .header{
        grid-template-columns: 5% 10% 5% 10% 23% 20% 15% 10%;
    }
    .make-order button{
        width: 70%;
        padding: 5% 5%;
        font-size: x-small;
    }
    .book button{
        width: 60%;
        padding: 10% 0%;
        font-size: x-small;
    }
    .header .logo{
        grid-area: logo-header;
        width: 50px;
        padding-right: 5%;
    }
    .menu{
        grid-area: menu-icon;
        filter: invert(100%);
        width: 50px;
    }
    .footer{grid-template-columns: 5% 70% 25%; padding: 1% 0%;}
    .copyright{width: 80%;}

    .menu-body .categories p, .other-categories p{
        padding: 1% 2%; 
        width: 100%; 
        font-size: 25px; 
        font-weight: 1000;
    }
    .menu-div{height: 30%;}
    .close-menu{width: 20%;}
    .sided-text{
        font-size: 20px; 
        right: 80%; 
        top: 35%; 
        width: 35%; 
    }
    .user-options{
        right: 4.5%;
        top: 48px;
    }
    .logout-div{width: 80%;}
    .login-div{width: 60%;}
    .login-div form{width: 100%;}
    .login-div .options{width: 100%;}
    .signup-div{width: 90%;}
    .signup-div input{font-size: medium;}
    .signup-div label{font-size: large;}
    .login-div .hide-view{bottom: 52%;}
    .signup-div .hide-view{bottom: 5px;}
    .login-required-div{width: 80%;}
    .book-div{width: 80%;}
    #book-accept{width: 42%;}
}

@media (width<500px) {

    @keyframes menuSlide {
        0%{height: 0%;}
        100%{height: 30%;}
    }


    .header{
        grid-template-columns: 5% 12% 5% 10% 20% 20% 15% 13%;
        padding: 1% 0%;
    }
    .make-order button{
        width: 80%;
        padding: 10% 10%;
        font-size: 8px;
    }
    .book button{
        width: 70%;
        padding: 10% 0%;
        font-size: 8px;
    }
    .header .logo{
        grid-area: logo-header;
        width: 40px;
        padding-right: 5%;
    }
    
    .menu{
        grid-area: menu-icon;
        filter: invert(100%);
        width: 40px;
    }
    .footer{font-size: x-small;}
    .instagram{
        filter: invert(100%);
        width: 15px;
        padding-right: 15%;
    }
    .linkedin{
        filter: invert(100%);
        width: 15px;
    }
    .contactus{
        padding-right: 50%;
    }

    .menu-body .categories p, .other-categories p{font-size: 20px; }
    .menu-div{height: 30%;}
    .sided-text{font-size: 18px;}
    .menu-logo{
        width: 30%;
        left: 30%;
        top: 5%;
    }
    .menu-body .categories{
        padding-top: 10.5%; 
        padding-left: 2%; 
        width: 100%;
    }
    .other-categories{
        width: 100%; 
        padding-top: 20%; 
        padding-left: 0%;
    }
    .user-options{
        right: 3%;
        top: 43px;
    }
    .logout-div{width: 90%;}
    .login-div{width: 80%;}
    .login-required-div{width: 90%;}
    .book-div{width: 90%;}
    #book-accept{width: 50%;}
}