@keyframes hrWidth{
    0%{width: 0%;}
    100%{width: 80%;}
}

.order-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5% 0%;
}
.current-order{
    width: 40%;
    display: flex;
    flex-direction: row;
    padding: 1% 2%;
    box-shadow: 2px 2px 2px 2px grey;
    align-items: center;
}

.products-position{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60%;
}
.current-product{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: inset 2px 2px 5px 3px rgb(210,210,210);
    margin: 2%;
    width: 18%;
    padding: 5%;
    position: relative;
}
.current-product p{
    padding: 2% 0%;
}
.delete-current-product{
    position: absolute;
    width: 15%;
    top: 5%;
    right: 5%;
    cursor: pointer;
}
.price-position{
    font-weight: bold;
    font-size: large;
    padding-left: 5%;
    width: 25%;
}
.buy-position{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.current-buy{
    border: solid rebeccapurple;
    border-radius: 100px;
    padding: 5%;
    width: 80%;
    background: rgb(255,255,255);
}
.current-buy:hover{
    background: rgb(200,200,200);
    font-weight: bold;
}

.product-categories{
    width: 80%;
    display: flex;
    flex-direction: row;
    padding-top: 3%;
}
.product-categories button{
    font-weight: bold;
    font-size: large;
}
hr{
    border: solid 2px goldenrod;
    visibility: hidden;
}
#current-category{display: none;} /* .product-categories select for width<500px */

.product-categories-divs{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-option{
    display: none;
    width: 70%;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.product{
    font-size: large;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20%;
    padding: 2%;
    margin: 2% 3%;
    box-shadow: 2px 2px 3px 2px grey;
    display: flex;
    flex-direction: column;
}
.product-info{padding-bottom: 5%;}
.add-to-order{
    border-radius: 100px;
    border: solid 2px rebeccapurple;
    width: 50%;
    padding: 2%;
}
.add-to-order:hover{
    background: rgb(200,200,200);
    font-weight: bold;
}

@media (width<1130px) {
    .current-order{width: 50%;}
    .current-product{width: 30%;}
    .price-position{padding: 0;}
    .product-info{padding-bottom: 10%;}
    .add-to-order{width: 90%;}
}

@media (width<680px) {
    .current-order{
        width: 80%;
        flex-direction: column;
    }
    .products-position{
        width: 80%;
        padding-top: 2%;
        justify-content: center;
    }
    .price-position{
        width: 100%;
        text-align: center;
        padding: 3% 0%;
    }
    .buy-position{
        width: 30%;
        padding-bottom: 2%;
    }
    .category-option{width: 90%;}
    .product-categories{width: 100%;}
    .product{width: 23%;}
}

@media (width<500px) {
    .order-div{padding-top: 3%;}
    .products-position{width: 90%;}
    .product-categories{
        padding-top: 5%;
        justify-content: center;
    }
    .product-categories button{display: none;}
    #current-category{
        display: block;
        border-radius: 100px;
        padding: 2%;
        border: solid 2px goldenrod;
        overflow: hidden;
        appearance: none;
    }
    #current-category:hover{background: rgb(240,240,240); font-weight: bold;}
    #current-category option{
        font-weight: bold;
        color: goldenrod;
        text-align: center;
        background: rgb(255,255,255);
    }
    .product-categories-divs{padding-top: 5%;}
    .product{
        margin: 3%;
        font-size: medium;
        width: 30%;
    }
    .add-to-order{padding: 3%;}
}

@media (width<400px) {
    .products-position{width: 100%;}
    .buy-position{width: 40%;}
    .product{width: 40%; padding: 3% 0%;}
}