@keyframes hrWidth{
    0%{width: 0%;}
    100%{width: 80%;}
}

.order-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5% 0%;
}
.current-order{
    width: 50%;
    display: flex;
    flex-direction: row;
    padding: 1% 2%;
    box-shadow: 2px 2px 2px 2px grey;
    align-items: center;
}

.empty-order{ /* display: block; if there are no products in the order */
    display: none;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    width: 100%;
}
.empty-order p{padding: 1% 0%;}
.products-position{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60%;
}
.current-product{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: inset 2px 2px 5px 3px rgb(210,210,210);
    margin: 2%;
    width: 35%;
    padding: 4%;
    position: relative;
}
.current-product p{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    left: 5%;
}
.current-product-name{
    font-size: larger;
    font-weight: bold;
    padding-right: 35%;
}
.current-product-quantity-div{
    position: relative;
    top: 20px;
    right: 2%;
    padding-top: 15%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.current-product-quantity-info{padding: 0% 3%;}
.current-product-quantity-more{width: 20px;}
.current-product-quantity-less{width: 22px;}
.current-product-price{
    padding-top: 3%;
    padding-left: 13%;
}
.delete-current-product{
    position: absolute;
    width: 18px;
    top: 6%;
    right: 2%;
    cursor: pointer;
}
.price-position{
    font-weight: bold;
    font-size: large;
    padding-left: 5%;
    width: 25%;
}
.buy-position{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.current-buy{
    border: solid rebeccapurple;
    border-radius: 100px;
    padding: 5%;
    width: 80%;
    background: rgb(255,255,255);
}
.current-buy:hover{
    background: rgb(200,200,200);
    font-weight: bold;
}

.product-categories{
    width: 80%;
    display: flex;
    flex-direction: row;
    padding-top: 3%;
}
.product-categories button{
    font-weight: bold;
    font-size: large;
}
hr{
    border: solid 2px goldenrod;
    visibility: hidden;
}
#current-category{display: none;} /* .product-categories select for width<500px */

.product-categories-divs{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-option{
    display: none;
    width: 70%;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.product{
    font-size: large;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20%;
    padding: 2%;
    margin: 2% 3%;
    box-shadow: 2px 2px 3px 2px grey;
    display: flex;
    flex-direction: column;
}
.product-info{
    padding-bottom: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.product-name{
    font-size: 24px;
    padding-bottom: 2%;
}
.product-img{padding: 3% 0%;}
.product-price{font-size: 20px;}
.order-addition-info{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.product-quantity{
    width: 15%;
    border-radius: 10px;
    border: solid 2px goldenrod;
}
.add-to-order{
    border-radius: 100px;
    border: solid 2px rebeccapurple;
    width: 50%;
    padding: 2%;
}
.add-to-order:hover{
    background: rgb(200,200,200);
    font-weight: bold;
}

@media (width<1700px) {
    .current-product-price{padding-left: 0;}
}

@media (width<1202px) {
    .product{width: 22%;}
    .current-order{width: 60%;}
}

@media (width<1130px) {
    .price-position{padding: 0;}
    .product-info{padding-bottom: 10%;}
    .add-to-order{width: 70%;}
}

@media (width<1000px) {.current-order{width: 70%;}}

@media (width<840px){
    .product{width: 25%;}
    .current-order{width: 90%;}
    .price-position{width: 15%;}
}

@media (width<680px) {
    .current-order{
        width: 80%;
        flex-direction: column;
    }
    .products-position{
        padding-top: 2%;
        justify-content: center;
    }
    .price-position{
        width: 100%;
        text-align: center;
        padding: 3% 0%;
    }
    .buy-position{
        width: 30%;
        padding-bottom: 2%;
    }
    .category-option{width: 90%;}
    .product-categories{width: 100%;}
    .product{width: 30%;}
    .products-position{width: 100%;}
}

@media (width<500px) {
    .order-div{padding-top: 3%;}
    .product-categories{
        padding-top: 5%;
        justify-content: center;
    }
    .product-categories button{display: none;}
    #current-category{
        display: block;
        border-radius: 100px;
        padding: 2%;
        border: solid 2px goldenrod;
        overflow: hidden;
        appearance: none;
    }
    #current-category:hover{background: rgb(240,240,240); font-weight: bold;}
    #current-category option{
        font-weight: bold;
        color: goldenrod;
        text-align: center;
        background: rgb(255,255,255);
    }
    .product-categories-divs{padding-top: 5%;}
    .product{
        margin: 3%;
        font-size: medium;
        width: 40%;
    }
    .add-to-order{padding: 3%;}
    .current-product{width: 45%;}
}

@media (width<400px) {
    .buy-position{width: 40%;}
    .product{width: 40%; padding: 3% 0%;}
    .current-product{width: 50%;}
}