@keyframes productHover {
    0%{box-shadow: 2px 2px 5px 5px rebeccapurple;}
    100%{box-shadow: 2px 2px 10px 10px goldenrod;}
}

@keyframes categoryButtonHoverRebeccapurple {
    0%{background: inherit;}
    100%{background: rebeccapurple;}
}

@keyframes categoryButtonHoverGoldenrod {
    0%{background: inherit;}
    100%{background: goldenrod;}
}

.main{background: rgb(20, 20, 20);}
h1{
    font-size: 40px;
    font-weight: bold;
    padding: 3% 0%;
    color: gold;
}

.allergies-info-div{
    z-index: 20;
    background: white;
    box-shadow: 2px 2px 2px 2px grey;
    width: 50%;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 1%;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
}
.allergies-column{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 10%;
}
.specific-allergy-div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.allergy-info-icon{
    width: 70px;
    padding-right: 10%;
}
.allergies-info-div-close{
    width: 20px;
    position: absolute;
    top: 2%;
    right: 1%;
    cursor: pointer;
}
.allergies-display-small{
    display: none;
    flex-wrap: wrap;
    font-size: small;
}

.products-menu-div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: white;
    position: relative;
}
.product-categories{
    width: 70%;
    display: flex;
    padding: 2% 0%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.product-categories button{
    margin: 0% 4%;
    padding: 0.5%;
    border: solid rebeccapurple;
    border-radius: 100px;
    font-size: medium;
    width: 10%;
}
.product-categories button:hover{
    animation: categoryButtonHoverRebeccapurple 1s;
    background: rebeccapurple;
    font-weight: bold;
}
#allergens-info-button{
    margin-top: 5%;
    width: 15%;
    padding: 1% 0%;
    border: solid goldenrod;
}
#allergens-info-button:hover{
    animation: categoryButtonHoverGoldenrod 1s;
    background: goldenrod;
    font-weight: bold;
}

.product-search{
    visibility: hidden;
    width: 100%;
    padding: 0% 0% 4% 0%;
}
.product-search input{
    width: 20%;
    background: inherit;
    padding: 0.5%;
    border-radius: 10px;
    border: solid gold;
    color: white;
}

.category-div{
    width: 60%;
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.menu-product{
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1%;
    margin: 3% 1%;
    box-shadow: 2px 2px 5px 5px rebeccapurple;
}
.menu-product:hover{
    animation: productHover 1.5s;
    box-shadow: 2px 2px 10px 10px goldenrod;
}
.product-img{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 200px;
}
.product-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.product-name{
    font-size: x-large;
    padding-top: 5%;
}
.product-description{
    font-size: medium;
    padding-top: 7%;
}
.product-price{
    font-size: large;
    padding-top: 3%;
}
.product-allergies{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 8%;
    width: 100%;
}
.allergy-icon{width: 40px; margin: 0% 1%;}
.to-top{
    display: none;
    width: 30px;
    position: sticky;
    left: 97.5%;
    top: 94%;
    filter: invert(1);
    cursor: pointer;
}
.to-top img{transform: rotate(90deg);}

@media (width<1300px) {
    .allergies-column{padding-left: 3%;}
    .to-top{left: 97%;}
}

@media (width<1100px) {
    .allergies-column{padding-left: 0;}
    .product-categories button{width: 12%;}
    #allergens-info-button{width: 25%;}
    .category-div{width: 80%;}
    .to-top{left: 96.5%;}
}

@media (width<1000px) {
    .specific-allergy-div{width: 50%;}
    .allergies-column{display: none;}
    .allergies-display-small{display: flex;}
    .allergies-info-div-close{right: 2%;}
    .allergy-info-icon{width: 60px;}
    .to-top{left: 96%;}
}

@media (width<900px) {
    .product-categories{width: 100%;}
    .menu-product{width: 40%;}
    .allergy-info-icon{width: 50px;}
    .allergies-info-div{width: 70%;}
    .to-top{left: 95%;}
    .product-search input{width: 30%;}
}

@media (width<600px) {
    .product-categories{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .product-categories button{
        width: 25%;
        margin: 2% 4%;
    }
    .category-div{width: 95%;}
    .allergies-display-small{width: 100%;}
    .allergies-info-div{width: 90%;}
    #allergens-info-button{margin: 2% 4%;}
    .to-top{left: 93%; top: 94%;}
    .product-search input{width: 50%;}
}

@media (width<400px) {
    h1{font-size: 30px;}
    .menu-product{width: 80%;}
    .product-categories button{width: 50%;}
    #allergens-info-button{width: 50%; margin: 10% 0% 5% 0%;}
    .allergy-info-icon{width: 40px;}
    .allergies-display-small{font-size: x-small;}
    .allergies-info-div-close{width: 15px;}
    .category-div{width: 90%;}
    .to-top{left: 90%;}
}
